@import 'base';

.banner-page--container{    

    video#plushkami-video{   
        @extend %size;
        object-fit: cover;
    }

    .banner-hide{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .banner-page--banner{
        width: 251px;
        height: 357px;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10px 10px 10px;
        text-align: center;
        position: absolute;
        left: 1009px;
        top: 260px;

        button{
            background: #000;
            width: 156px;
            height: 52px;
            padding: 16px;
            margin: 20px 0px;
            color: white;
        }

    }
}
